@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    min-width: 400px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
}

header p {
    margin-bottom: 50px;
    margin-top: 0px;
    font-family: Verdana;
    font-style: regular;
}

a {
    font-family: Verdana;
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 16px;
    padding: 10px;
}

section {
    display: block;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}


.normal {
    background-color: white;
}

section p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Sriracha', cursive;
}

.normal p {
    margin: 10px;
    padding: 10px;
    text-align: left;
    width: 80vh;
    max-width: 180vw
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    padding: 10px;
    text-align: left;
    width: 80vh;
}

.imagem {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    
}

section#img01 {
    background-image: url(imagens/background001.jpg);
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}