@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    ---font1: Verdana, Tahoma, sans-serif;
    ---font2: 'Passion One', cursive;
    ---font3: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: var(---font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family:var(---font2);
    font-size: 10vw;
}

header > p {
    margin-bottom: 50px;
    margin-top: 0px;
}

a {
    font-family: Verdana;
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 16px;

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    display: block;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(---font3);
}


section.normal {
    background-color: white;
}

section > p {
    display: block;

}

section.normal > p {
    margin: 10px;
    padding: 10px;
    width: 80vh;
    max-width: 70vw
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem {
    background-color: rgb(51, 50, 50);  
    color: white; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-attachment: fixed;
    background-size: cover;
    
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}